.nav{
    display: flex;
    justify-content: center;
}
.titulo{
    border: 2px solid black;
    width: 600px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}